# Python
__pycache__/
*.pyc
*.log
.venv/

# Data
data/

# Models
models/

# Source files to be ignored
src/app.py

# IDE specific
.vscode/
.idea/

# Docker
Dockerfile

# Kaggle credentials (if you used API before, although we reverted)
kaggle.json

# Environment variables
.env
